* {
	font-family: "Helvetica Neue Bold", Roboto, Helvetica, Arial, sans-serif;
	font-weight: 700;
	box-sizing: border-box;
}

h1 {
	font-family: "Helvetica Neue Light", Roboto, Helvetica, Arial, sans-serif;
	font-size: 50px;
	color: #51453B;
	line-height: 60px;
	font-weight: 300;
}

h2 {
	font-size: 24px;
	color: #42C3C9;
	line-height: 29px;
}

a {
	text-decoration: none;
}

header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 1em;
	position: fix;
	top:0;
	left:0;
}

main {
	display: flex;
	margin: 1em;
}

.category {
	width:30%;
}

