{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<main>
		<form action="{{ url_for('deleteCategory', category_name = category.name) }}" method = "POST">
			<div class="item_detail">
				<h2>Delete Category: {{category.name}}</h2>
				{% if ctnItems > 0 %}
					<p class='descriptor warning'>There are still items in this category.<br> Please remove them all before proceeding.</p>
					<div class="btn_container">
						<a href="{{ url_for('showHomePage') }}" class='btn'>Go Back</a>
					</div>
				{% else %}
					<p class='descriptor warning'>Are you sure you want to delete this category?</p>
					<div class="btn_container">
						<button type="submit" class="btn" id="submit" type="submit">Submit</button>
						<a href="{{ url_for('showHomePage') }}" class='btn'>Cancel</a>
					</div>
				{% endif %}
			</div>
		</form>
	</main>
{% endblock %}