{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<main>
		<form action="{{ url_for('editItem', item_name=item.name) }}" method = "POST">
			<div class="item_detail">
				<h2>Edit Item: {{item.name}}</h2>
				<p class='description'>Title</p>
				<input name="name" placeholder="{{item.name}}" size='40'>
				<p class='description'>Description</p>
				<textarea name="description" rows="5" columns="40">{{item.description}}</textarea>
				<p class='description'>Category</p>
				<select name="category">
					{% for c in categories: %}
						{% if item.category_id == c.id %}
							<option selected="selected" value="{{c.name}}">{{c.name}}</option>
						{% else %}
							<option value="{{c.name}}">{{c.name}}</option>
						{% endif %}
					{% endfor %}
				</select>
			</div>
			<div class="btns">
				<button type="submit" class="btn" id="submit" type="submit">Save</button>
				<a href="{{ url_for('showItemDetail', category_name=item.category.name, item_name = item.name) }}">Cancel</a>
			</div>
		</form>
		
	</main>
{% endblock %}