{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<main>
		<form action="{{ url_for('editCategory', category_name=category.name) }}" method = "POST">
			<div class="item_detail">
				<h2>Edit Category: {{category.name}}</h2>
				<div class="input_field">
					<h3>Title: </h3>
					<input name="name" placeholder="{{category.name}}" size='40'>
				</div>
			</div>
			<div class="btn_container">
				<button type="submit" class="btn" id="submit" type="submit">Save</button>
				<a href="{{ url_for('showHomePage') }}" class="btn">Cancel</a>
			</div>
		</form>
		
	</main>
{% endblock %}