{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<main>
		<div class="category">
			<h2>Categories</h2>
			<ul>
				{% for c in categories %}
				<li><a href="{{ url_for('showItemList', category_name=c.name) }}">{{c.name}}</a></li>
				{% endfor %}
			</ul>
		</div>
		<div class="item">
			<h2>Latest Items</h2>
			<ul>
				{% for i in items %}
				<li><a href="{{ url_for('showItemDetail', category_name = i.category.name, item_name = i.name) }}">{{i.name}} ({{i.category.name}})</a></li>
				{% endfor %}
			</ul>
		</div>
	</main>
{% endblock %}