{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<main>
		<div class = 'flash'>
		    {% with messages = get_flashed_messages() %}
			{% if messages %}
			<ul>
				{% for message in messages %}
					<li> <strong> {{ message }} </strong> </li>
				{% endfor %}
			</ul>
			{% endif %}
			{% endwith %}
		</div>
		{% include "sidebar.html" %}
		<div class="item">
			<h2>Latest Items</h2>
			<ul>
				{% for i in items %}
				<li><a href="{{ url_for('showItemDetail', category_name = i.category.name, item_name = i.name) }}" class="descriptor">{{i.name}} ({{i.category.name}})</a></li>
				{% endfor %}
			</ul>
		</div>
	</main>
{% endblock %}