{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<main>
		{% include "sidebar.html" %}
		<div class="item">
			<h2>{{cc.name}} Items ({{i_length}} items)</h2>
			{% if session['email'] %}
				<div class="add_new">
					<a href="{{ url_for('newItem', category_name=cc.name) }}" class='btn'>Add New Item</a>
				</div>
			{% endif %}
			<ul>
				{% for i in items %}
				<li><a href="{{ url_for('showItemDetail', category_name = i.category.name, item_name = i.name) }}" class="descriptor"><p class="inline item_name">{{i.name}}</p><p class="inline cate_name"> ({{i.category.name}})</p></a></li>
				{% endfor %}
			</ul>
		</div>
	</main>
{% endblock %}