<div class="category">
	<h2>Categories</h2>
	{% if session['email'] %}
		<div class="add_new">
			<a href="{{ url_for('newCategory') }}" class='btn'>Add New Category</a>
		</div>
	{% endif %}
	<ul>
		{% for c in fc %}
		<li class="flex_display">
			<a href="{{ url_for('showItemList', category_name=c.name) }}" class="descriptor">{{c.name}}</a>
			{% if session['email'] %}
			<div class="mini">
				<a href="{{ url_for('editCategory', category_name=c.name) }}" class='btn mini'>Edit</a>
				<a href="{{ url_for('deleteCategory', category_name=c.name) }}" class='btn mini'>Delete</a>
			</div>
			{% endif %}
		</li>
		{% endfor %}
	</ul>
</div>